RewriteEngine On
RewriteRule ^storage/(.*)$ ../storage/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/storage/
RewriteRule ^ index.php [QSA,L]