body {
    font-family: Arial, sans-serif; 
    background: #f8f8f8; 
    text-align: center; 
    padding: 50px;
}

h1{
    font-size: 50px;
    color: #d9534f;
}
p{ 
    font-size: 20px;
}
a{
    color: #337ab7;
    text-decoration: none;
}